<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <moderncustom>
                <active>0</active>
                <rate>50</rate>
                <title>Modern Shipping Title</title>
                <name>Modern Shipping Method</name>
                <sallowspecific>0</sallowspecific>
                <model>Study\ModernCarrier\Model\Carrier\Shipping</model>
            </moderncustom>
        </carriers>
    </default>
</config>
